<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Channel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">GachiVK</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/message">Messages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/message/my}">My Messages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/message/search">Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user">Profile</a>
            </li>
        </ul>

        <span class="navbar-text">
             <form th:action="@{/logout}" method="post" class="form-inline">
                <button class="btn btn-light btn-sm" type="submit">Sign out</button>
            </form>

        </span>
    </div>
</nav>

<div class="container mt-5" >
    <h3 th:text="${userChannel.getUsername()}"></h3>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Subscriptions</h5>
                        <p class="card-text">
                            <a th:href="@{/user/{id}/subscriptions(id=${userChannel.getId()})}" class="btn btn-dark" th:text="${Subscriptions}"></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Subscribers</h5>
                        <p class="card-text">
                            <a th:href="@{/user/{id}/subscribers(id=${userChannel.getId()})}" class="btn btn-dark" th:text="${Subscribers}"></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <br/>

    <form th:method="POST" th:if="${!isCurrentUser} and ${!isSubscriber}"th:action="@{/user/{id}/subscribe(id=${userChannel.getId()})}">
        <button type="submit" class="btn btn-dark">Subscribe!</button>
    </form>

    <form th:method="POST" th:if="${isSubscriber}" th:action="@{/user/{id}/unsubscribe(id=${userChannel.getId()})}">
        <button type="submit" class="btn btn-light">Unsubscribe!</button>
    </form>


   <!-- <a th:href="" th:if="${!isCurrentUser}" class="btn btn-dark">Subscribe</a>
    <a th:href="" th:if="${isSubscriber}" class="btn btn-light">Unsubscribe</a>
    -->

    <div class="card-columns">
        <div th:each="messageLoop : ${messages}">
            <div class="card text-white bg-dark mb-3 my-3">

                <img class="card-img-top"th:src="@{/img/{filename}(filename=${messageLoop.getFilename()})}"
                     th:if="${messageLoop.getFilename() != null}">
                <div class="card-body m-2">
                    <h5 class="card-title" th:text="${messageLoop.getTag()}">Tag</h5>
                    <p th:text="${messageLoop.getText()}">allMessages</p>
                </div>
                <div class="card-footer text-muted">
                    <p th:text="${messageLoop.getPerson().getUsername()}" ></p>
                </div>
            </div>
        </div>
    </div>

</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>