<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">GachiVK</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/message">Messages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/message/my}">My Messages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/message/search">Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user">Profile</a>
            </li>
        </ul>

        <span class="navbar-text">
            <p th:text="${user.getUsername()}">Username</p>
             <form th:action="@{/logout}" th:method="post" class="form-inline">
                <button class="btn btn-light btn-sm" type="submit">Sign out</button>
            </form>

        </span>

    </div>
</nav>

<div class="container mt-5">


    <div class="card">
        <div class="card-header">
            MY ACCOUNT
        </div>

        <div class="container mt-3" >
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Subscriptions</h5>
                            <p class="card-text">
                                <a th:href="@{/user/{id}/subscriptions(id=${user.getId()})}" class="btn btn-dark" th:text="${Subscriptions}"></a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Subscribers</h5>
                            <p class="card-text">
                                <a th:href="@{/user/{id}/subscribers(id=${user.getId()})}" class="btn btn-dark" th:text="${Subscribers}"></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <label for="username" class="col-sm-2 col-form-label">Username: </label>
                <p class="font-weight-bold ml-3" th:text="${user.getUsername()}" id="username">username</p>
                <br/>
                <label for="age" class="col-sm-2 col-form-label" id="age">Age: </label>
                <p class="font-weight-bold ml-3" th:text="${user.getAge()}">age</p>
                <br/>
                <label for="email" class="col-sm-2 col-form-label" id="email">Email: </label>
                <p class="font-weight-bold ml-3" th:text="${user.getEmail()}">email</p>
                <br/>
            </blockquote>
        </div>
    </div>
    </br>

    <div class="alert alert-dark" role="alert" th:if="${isBanned}">
        <span> Your account has been banned! </span>
    </div>


    <form th:method="GET" th:action="@{/user/{id}/edit(id=${user.getId()})}">
        <button type="submit" class="btn btn-dark">Edit!</button>
    </form>


</div>





<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>